.intro{
    background-color: #164863;
    color: #DDF2FD;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
.pp{
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
a{
    color: #DDF2FD;
}