  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif;
    background-color: #111;
    color: #DDF2FD;
    font-size: 1.2rem; 

  }
#divOne{
  width: 100%;
  height: 4rem;

}
nav{
  display: flex;
  justify-content: right;
  gap: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 30px;
  background-color: #111;
  color: #111;
  
}
/* nav a{
  opacity: 0.7;
  display: inline-block;
  position: relative;
}
nav a:hover{
  transition: 0.5s;
  color: white;
  opacity: 1; */
  nav a {
    
    position: relative;
    color: #DDF2FD;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #FFFFFA;
    transition: 0.5s;
    
  }
  
  nav a::before {
    
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #DDF2FD;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  nav a:hover::before {
    transform: scaleX(1);
    color: #FFFFFA;
  }
  


a{
  text-decoration: none;
  color: #DDF2FD;
  font-weight: bolder;
}

ul{
  list-style-type: none;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.footercontainer{
  width: 100%;
  padding: 70px 30px 20px;
  background-color: #1d1d1d;
}
footer{
  background-color: #111;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

}
.footericons{
  display: flex;
  justify-content: center;
}

.footericons a{
  padding: 10px;
  margin: 10px;
  background-color: white;
  border-radius: 50%;
}

.footericons a i{
  color: black;
  font-size: 40px;
  opacity: 0.9;
}

.footericons a:hover{
  background-color: #111;
  transition: 0.5s;
}

.footericons a i:hover{
  color: white ;
  transition: 0.5s;
}

.footernav{
  margin: 30px 0;
}

.footernav ul{
  display: flex;
  justify-content: center;
}

.footernav ul li a{
  margin: 20px;
  font-size: 1.5em ;
  transition: 0.5s;

}
.footernav ul li a{
    
  position: relative;
  color: #DDF2FD;
  text-decoration: none;
}

.footernav ul li a:hover {
  color: #FFFFFA;
  transition: 0.5s;
  
}

.footernav ul li a::before {
  
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #DDF2FD;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.footernav ul li a:hover::before {
  transform: scaleX(1);
  color: #FFFFFA;
}



.footercopy{
  text-align: center;
  background-color: #000000;
  padding: 20px;
}

.footercopy p{
  color: white;
}

.dev{
  opacity: 0.7;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 5px ;
}
@media(max-width: 700px){
  .footernav ul{
    flex-direction: column;
  }
  .footernav ul li{
    width: 100%;
    text-align: center;
    margin: 10px;
  }
}
.signature{
  background-color: #1d1d1d;
  padding-top: 10px;
  text-align: center;
  font-family: prestige;
  font-size: 3em;
}

@font-face {
  font-family: prestige;
  src: url(prestige.otf);
}

#siteUnderDev{
  height: 100%;
  width: 100%;
  background-color: #111;
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  color: white;
  font-family: prestige;
  font-size: 60px;
  padding-top: 50px;
} 

#h2{

  font-family: Arial, Helvetica, sans-serif;
  padding-top: 200px;
} 