.intro{
    background-color: #164863;
    color: #DDF2FD;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
.pp{
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*.insta{
    color: #DDF2FD;
    position: absolute;
   bottom: 0px;
    left: 0px;
    right: 0px;>
}
.github{
    color: #DDF2FD;
    /*position: absolute;
    bottom: 0px;
    left: 850px;
}
.X{
    color: #DDF2FD;
    position: absolute;
    bottom: 0px;
    left: 680px;
}